<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
      <title>APEL Publication Summary </title>
      <link href="http://goc-accounting.grid-support.ac.uk/core/stylesheet.css" rel="stylesheet" type="text/css" />
      <link href="http://goc-accounting.grid-support.ac.uk/core/style.css" rel="stylesheet" type="text/css" />
		</head>
<body>
<h3>APEL Synchronisation Test</h3>
<ul>
 <li> A comparison is made between your local APEL database, and the data that you have published to the GOC.
 <li> Major differences are flagged with FAIL.
 <li> Information about APEL <a href='https://wiki.egi.eu/wiki/APEL'>APEL Wiki</a>
 <li> Contact: apel-admins [at] stfc.ac.uk
<li>lastBuild : {{ last_fetched|date:"Y-m-d H:i:s.u"|slice:":22" }}</ul><hr>

<table>
  <tr><th colspan='6' class='tableheader'> {{submisthosts.0.SiteName}}, {{submisthosts.0.YearMonth}} </td></tr>
  <tr>
    <th class='tableheader'>Month</th>
    <th class='tableheader'>SubmitHost</th>
    <th class='tableheader'>RecordStart</th>
    <th class='tableheader'>RecordEnd</th>
    <th class='tableheader'>Record Count <br/> In Your Database</th>
    <th class='tableheader'>Record Count <br/> What You Published</th>
  </tr>

  {% for host in submisthosts %}
  <tr>
    
    <td>{{ host.YearMonth }} </td>
    <td>{{ host.SubmitHost }}</td>
    <td>{{ host.RecordStart }}</td>
    <td>{{ host.RecordEnd }}</td>
    <td>{{ host.RecordCountPublished }}</td>
    <td>{{ host.RecordCountInDb }}</td>


  </tr>
  {% endfor %}

</table>